body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #f2f2f2;
    max-width: 100px;
}
ul li {
    display: inline-block;
}
ul li a {
    display: block;
    padding: 10px 25px;
    background: #ffffff;
    text-decoration: solid;
    text-align: left;
    border-top: 1px solid #ffffff;
    white-space: nowrap;
}
ul li a:hover {
    color: #fff;
    background: #939393;
}

.menu {
    /* float: left; */
    right: 5px;
    top: 5px;
    position: fixed;
}

.mainTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    font-size: 5vw;
    margin: 5px;
    block-size: auto;
    text-align: center;
    text-transform: uppercase;
    color:#0660e8;
}

.subTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-size: 2vw;
    margin: 5px;
    text-align: center;
    color: #000000;
}

.titleCentered {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    flex-wrap: wrap;
}

figure.figurefx {
    width: auto;
    height: auto;
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
    overflow: hidden; /* hide overflowing elements by default */
}

figure.figurefx figcaption {
    position: absolute;
    display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    text-align: center;
    background: white;
    padding: 15px;
    z-index: 100;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    top: 0%;
    left: 0;
    -moz-transform: translate3d(-100%, -50%, 0); /* position caption outside layout horizontally and centered vertically */
    -webkit-transform: translate3d(-100%, -50%, 0);
    transform: translate3d(-100%, -50%, 0);
    opacity: 0;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
  /*** Push Up effect ****/
figure.pushup img {
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
}

figure.pushup figcaption {
      top: 100%;
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
}


figure.pushup:hover img {
      -moz-transform: translate3d(0, -20px, 0); /* move image up vertically a bit for parallax effect */
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    opacity: .5;

}

figure.pushup:hover figcaption{
      -moz-transform: translate3d(0, -100%, 0); /* move caption up vertically to fully reveal caption */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    box-shadow: 0px -2px 28px rgba(0, 0, 0, 0.3);
}